.contentBackground {
  background-color: #f9f9f9;
  padding: 20px 50px;
}
.featuresLi li a {
  color: black !important;
}
.sections {
  padding: 40px 0px;
}
.featuresImg {
  height: 100%;
  object-fit: cover;
}
.img1 {
  clip-path: polygon(0% 0%, 0% 0%, 100% 0, 100% 85%, 0% 100%);
}
.img2 {
  clip-path: polygon(0% 0%, 0% 0%, 100% 16%, 100% 100%, 0% 100%);
}
.additionalFeaturesBg{
  background-image: url('../../assets/images/fence-gc0fdad231_1280.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.mask{
  background-color: rgba(0,0,0, 0.7);
}